@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.container {
  max-width: 112rem;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}